<div class="jumbotron">
  <h1>No Consequences Hangman<h1>
  <h3>Enter a sentence and we will scramble it. Your opponent can guess as many times as they would like to match it</h3>
</div>
<form action="/results" method="get">
  <div class="form-group">
    <input name="userinput">
    <button class="btn" type="submit">Scramble</button>
  </div>
</form>
